:host{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 64px;
}

.date-selector{
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

chart{
  display: block;
  width: 100%;
}
/deep/ .highcharts-container{
  width: 100% !important;
}

.spinner{
  text-align: center;
}
.spinner md-spinner{
  display: inline-block;
  height: 50px;
}